<div class="heading-container jumbotron">
    <h1 class="display-1">KF Express - Rapid Shipping, Quality Destruction</h1>
    <hr>
    <h1 class="display-subheading">KF Express - We Deliver, YOU pay!</h1>
    <hr>
    <p>Dear Valued Customer:
    <br><br>
    The KF Express team regrets to inform you that your shipment of 10,001 Authentic&trade; NYC Bagels have gone missing in
    transit over the North Atlantic Ocean. Whilst the cause of the disappearance remains unknown and under investigation, we
    offer a limited time offer to reclaim the lost value. Attached below is a link to said reclamation site. 
    <br><br>
    <a href="https://rb.gy/syzlgv">Click here to accept your refund.</a>
    <br><br>
    Sincerely, <br>
    Micheal Kors (Head of Customer Satisfaction)
    </p>
    <img src="/images/unnamed.jpg">
</div>
<script src='/js/index.js'></script>